#################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                              					#
# Update me and then run 'docker-compose run myconsumer pip_freeze'                             #
#                                                                              					#
#################################################################################################

# Consumer
aet.consumer
aether.python
firebase-admin

# Tests
birdisle
flake8
mock
pytest
pytest-runner
